/* [project]/src/components/CategoriesFooter/index.less.css.css [app-client] (css) */
.categories-footer {
  background-color: #fff;
  margin-top: .46875rem;
  margin-bottom: .46875rem;
  padding: .625rem .625rem .3125rem;
}

.categories-footer .menu {
  clear: both;
  padding-top: 0;
}

.categories-footer .menu .item {
  background-color: #fff5e2;
  margin: 0 0 .3125rem;
  padding: 0 0 0 .9375rem;
  line-height: 2.03125rem;
  overflow: hidden;
}

.categories-footer .menu .item a {
  color: #333;
  display: block;
}

.categories-footer .menu .item .text {
  vertical-align: middle;
  display: inline-block;
}

.categories-footer .menu .item .arrow-tx-right {
  vertical-align: middle;
  float: right;
  background-image: url("https://img.limeetpet.com/limeet/arrow-right.png");
  background-repeat: no-repeat;
  background-size: 120%;
  width: .75rem;
  height: .75rem;
  margin-top: .625rem;
  margin-right: .625rem;
}

.categories-footer .menu .item:hover {
  color: #fff;
  background-color: #f6912d;
}

.categories-footer .menu .item:hover a:hover {
  color: #fff;
}

.categories-footer .menu .item:hover .arrow-tx-right {
  background-image: url("https://img.limeetpet.com/limeet/arrow-right2.png");
}

.categories-footer .describe {
  margin: 0 auto;
  padding: .625rem;
}

.categories-footer .describe p {
  padding: .3125rem .625rem;
}

.categories-footer .describe p img {
  width: 1.25rem;
  padding-right: .15625rem;
  display: inline-block;
}

.categories-footer .describe a {
  color: #f6912d;
  padding-left: .625rem;
  display: inline-block;
}

/* [project]/src/components/Footer/index.less.css.css [app-client] (css) */
.footer {
  border-top: .46875rem solid #d2d2d2;
  margin: .46875rem auto;
  padding: 1.5625rem;
}

.footer span.wechat {
  text-align: center;
  width: 30%;
  display: inline-block;
}

.footer span.wechat img {
  width: 2.5rem;
  display: inline;
}

.footer .flex-column {
  margin: 0;
  padding: 0;
}

.footer .flex-column li {
  margin: 0;
  padding-top: .15625rem;
  padding-bottom: .15625rem;
  line-height: 1.5rem;
}

.footer span.youtube {
  text-align: center;
  width: 30%;
  display: inline-block;
}

.footer span.youtube img {
  width: 2.5rem;
  display: inline;
}

.footer span.facebook {
  text-align: center;
  width: 30%;
  display: inline-block;
}

.footer span.facebook img {
  width: 2.5rem;
  display: inline;
}

.footer h3.title {
  padding-top: .625rem;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.footer .list {
  margin: 0;
  padding: 0;
}

.footer .list a {
  color: #333;
  padding: .15625rem .15625rem .15625rem 0;
}

.footer .list a:hover {
  color: #f6912d !important;
  text-decoration: underline !important;
}

.footer .nav a {
  color: #333;
  padding: .15625rem .15625rem .15625rem 0;
}

.footer .nav a:hover {
  color: #f6912d !important;
  text-decoration: underline !important;
}

.footer li.wrap-box {
  padding-top: .625rem;
}

/* [project]/src/components/Icp/index.less.css.css [app-client] (css) */
.footer-icp {
  text-align: center;
  color: #333;
  margin-bottom: .3125rem;
  padding-bottom: .3125rem;
}

/* [project]/src/components/ChangeLanguage/index.less.css.css [app-client] (css) */
.locale {
  color: #333;
  text-align: center;
  border-radius: .3125rem;
  width: 6.875rem;
  height: 2.375rem;
  font-size: .4375rem;
  line-height: 1.25rem;
  position: absolute;
  top: .625rem;
  right: .625rem;
}

.locale .dropdown {
  background-color: rgba(255, 255, 255, .6);
  border-radius: .3125rem;
  width: 6.875rem;
}

.locale .dropdown .dropdown-toggle {
  color: #333;
  background: none;
  border: none;
  width: 100%;
}

.locale .dropdown-menu {
  opacity: .8;
  background: #d8d8d8;
  border: .03125rem solid #fff;
  min-width: 6.875rem;
}

.locale ul.lan-list {
  width: 6.875rem;
  margin: 0 auto;
  padding: 0;
}

/* [project]/src/app/about/[lang]/index.less.css.css [app-client] (css) */
.page {
  background-color: #efefef;
}

.tabbar-wrap {
  z-index: 9999;
  width: 100%;
  height: 3.125rem;
  position: fixed;
  bottom: 0;
  left: 0;
}

.home-page {
  color: #444;
  background: none;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.about-page {
  background-color: #fff;
  height: 100%;
  margin: .46875rem auto;
  padding: 1.5625rem;
}

.about-page .des-tx {
  background-color: #fff;
}

.about-page .des-tx h1 {
  font-size: 1.5625rem;
}

.about-page .des-tx p {
  padding: .625rem;
  line-height: 1rem;
}

.about-page .des-tx p img {
  width: 1.5625rem;
  padding: .3125rem;
  display: inline;
}

.about-page .des-tx img {
  width: 100%;
  margin: 0 auto;
}

.about-page .company {
  background-color: #fff;
  padding-left: .625rem;
}

.about-page .company h1 {
  padding-left: 0;
  font-size: 1.40625rem;
}

.about-page .company ul {
  width: 22.1875rem;
  margin: 0;
  padding: 0;
}

.about-page .company ul li {
  width: 22.1875rem;
  height: 1.5rem;
  line-height: 1.5rem;
  overflow: hidden;
}

.about-page .company ul li span {
  vertical-align: middle;
  padding-right: .15625rem;
  font-weight: 500;
  display: inline-block;
  overflow: hidden;
}

.about-page .company ul li a {
  display: inline-block;
}

.about-page .contact {
  z-index: 9;
  background-color: #fff;
  height: 5rem;
  padding-top: .625rem;
  padding-bottom: .625rem;
  display: flex;
  position: relative;
}

.about-page .contact span.wechat {
  text-align: center;
  width: 30%;
  display: inline-block;
}

.about-page .contact span.wechat img {
  width: 2.5rem;
  display: inline;
}

.about-page .contact span.youtube {
  text-align: center;
  width: 30%;
  display: inline-block;
}

.about-page .contact span.youtube img {
  width: 2.5rem;
  display: inline;
}

.about-page .contact span.facebook {
  text-align: center;
  width: 30%;
  display: inline-block;
}

.about-page .contact span.facebook img {
  width: 2.5rem;
  display: inline;
}

/*# sourceMappingURL=src_37a247d1._.css.map*/