/* [project]/src/components/ProductGroup/index.less.css.css [app-client] (css) */
.product-group {
  clear: both;
  background-color: #fff;
  width: 100%;
  margin: .625rem auto;
  padding-left: .625rem;
  padding-right: .625rem;
  position: relative;
  overflow: hidden;
}

.product-group .prev {
  text-indent: -3.125rem;
  background-image: url("https://img.limeetpet.com/limeet/icon/page-pre_1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 1.25rem;
  height: 3.75rem;
  position: absolute;
  top: 20%;
  left: 0;
  overflow: hidden;
}

.product-group .prev:hover {
  background-image: url("https://img.limeetpet.com/limeet/icon/page-pre_3.png");
}

.product-group .prev.end {
  background-image: url("https://img.limeetpet.com/limeet/icon/page-pre_4.png");
}

.product-group .next {
  text-indent: -3.125rem;
  background-image: url("https://img.limeetpet.com/limeet/icon/page-next_1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 1.25rem;
  height: 3.75rem;
  position: absolute;
  top: 20%;
  right: 0;
  overflow: hidden;
}

.product-group .next:hover {
  background-image: url("https://img.limeetpet.com/limeet/icon/page-next_3.png");
}

.product-group .next.end {
  background-image: url("https://img.limeetpet.com/limeet/icon/page-next_4.png");
}

.product-group ul {
  clear: both;
  width: 21.5625rem;
  min-height: 3.75rem;
  margin: 0 auto;
  padding: 0;
}

.product-group ul li {
  float: left;
  background-color: #fff;
  width: 25%;
  margin-top: .46875rem;
  margin-bottom: .46875rem;
  margin-left: 0;
}

.product-group .item {
  width: 4.1875rem;
  margin: 0 auto;
}

.product-group .item .img-box {
  width: 4.1875rem;
  height: 4.1875rem;
}

.product-group .item .img-box img {
  max-width: 4.1875rem;
  max-height: 4.1875rem;
}

.product-group .item .title {
  width: 4.125rem;
  padding-top: .3125rem;
  padding-left: .3125rem;
  padding-right: .3125rem;
  font-size: .4375rem;
  font-weight: 200;
  line-height: .5625rem;
  overflow: hidden;
}

.product-group .item .price {
  padding: .3125rem;
  line-height: .75rem;
}

.product-group .item .price i.unit {
  color: #ee4d2d;
  vertical-align: bottom;
  padding-right: .15625rem;
  font-size: .375rem;
}

.product-group .item .price span.value {
  color: #ee4d2d;
  vertical-align: bottom;
  font-size: .5rem;
}

.product-group .item .price span.original-value {
  color: #ee4d2d;
  vertical-align: bottom;
  background-color: #fff5e2;
  margin-left: .625rem;
  padding: .0625rem .15625rem;
  font-size: .375rem;
}

/* [project]/src/components/DetailSwiper/index.less.css.css [app-client] (css) */
.detail-swiper {
  z-index: 1;
  background: #fff;
  border-radius: 0;
  width: 100%;
  min-height: 25rem;
  position: relative;
  overflow: hidden;
}

.detail-swiper .swiper-container {
  width: 100%;
  min-height: 25rem;
}

.detail-swiper .swiper-container .swiper-slide {
  margin-top: 0;
}

.detail-swiper .swiper-container .adm-swiper-indicator .adm-page-indicator-dot {
  width: 1.5625rem;
}

.detail-swiper .swiper-container .carousel-item {
  min-height: 25rem;
}

.detail-swiper .arrow-left {
  z-index: 15;
  cursor: pointer;
  opacity: .7;
  z-index: 9999;
  background-image: url("/limeet_logo_200_24_02.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  width: 3.125rem;
  height: 3.125rem;
  position: absolute;
  top: 0;
  left: 0;
}

.detail-swiper .arrow-left:hover {
  background-image: url("/limeet_logo_200_24_01.png");
}

.page-detail-sale-sku {
  background-color: #fff;
  padding-top: .625rem;
  padding-bottom: .625rem;
}

.page-detail-sale-sku .price-wrap {
  background-color: #fff5e2;
  padding: .3125rem .9375rem;
}

.page-detail-sale-sku .price-wrap .price {
  vertical-align: bottom;
  height: 1.9375rem;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.875rem;
  overflow: hidden;
}

.page-detail-sale-sku .price-wrap .price i.unit {
  color: #ee4d2d;
  vertical-align: bottom;
  height: 1.5625rem;
  padding-right: .3125rem;
  display: inline-block;
  overflow: hidden;
}

.page-detail-sale-sku .price-wrap .price span.value {
  color: #ee4d2d;
  vertical-align: bottom;
  font-size: 1.5rem;
}

.page-detail-sale-sku .price-wrap .price span.original-value {
  color: #ee4d2d;
  vertical-align: bottom;
  background-color: #fff5e2;
  margin-left: .625rem;
  padding: .0625rem .15625rem;
  font-size: 1rem;
}

.page-detail-sale-sku .price-wrap .price span.del-value {
  color: #999;
  vertical-align: bottom;
  vertical-align: sub;
  height: .75rem;
  margin-left: .625rem;
  line-height: .75rem;
  text-decoration: line-through;
  display: inline-block;
  overflow: hidden;
}

.page-detail-sale-sku .price-wrap .title {
  color: #000;
  width: 100%;
  height: 100%;
  padding-bottom: .3125rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.page-detail-sale-sku .sale-sku {
  z-index: 9;
  width: 100%;
  height: auto;
  margin: .3125rem auto;
  position: relative;
}

.page-detail-sale-sku .sale-sku ul {
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

.page-detail-sale-sku .sale-sku ul li.item {
  cursor: pointer;
  border: .0625rem solid #fff5e2;
  min-width: 19%;
  max-width: 28%;
  margin-bottom: .3125rem;
  margin-right: .3125rem;
  font-size: 1rem;
}

.page-detail-sale-sku .sale-sku ul li.item .box {
  clear: both;
  background-color: #fff;
  position: relative;
}

.page-detail-sale-sku .sale-sku ul li.item .box .show-img {
  z-index: 99;
  background: #fff;
  border: .0625rem solid #fff5e2;
  width: 15rem;
  height: 15rem;
  padding: .625rem;
  display: none;
  position: absolute;
  top: -15.625rem;
  left: .3125rem;
}

.page-detail-sale-sku .sale-sku ul li.item .box .show-img img {
  width: 13.4375rem;
  height: 13.4375rem;
}

.page-detail-sale-sku .sale-sku ul li.item .pattern {
  float: left;
  width: 3.125rem;
  height: 3.125rem;
  display: block;
}

.page-detail-sale-sku .sale-sku ul li.item .pattern-name {
  float: left;
  width: 3.5rem;
  height: 3.125rem;
  padding-left: .3125rem;
  line-height: 3.125rem;
  display: block;
}

.page-detail-sale-sku .sale-sku ul li.item .sale-value {
  float: left;
  width: 4.53125rem;
  height: 3.125rem;
  padding-left: .3125rem;
  line-height: 3.125rem;
  display: block;
}

.page-detail-sale-sku .sale-sku ul li.item:hover {
  border: .0625rem solid #ff8f00;
}

.page-detail-sale-sku .sale-sku ul li.item:hover .show-img {
  border: .0625rem solid #ff8f00;
  display: block;
}

.page-detail-sale-sku .sale-sku ul li.item:hover .pattern-name {
  color: #ee4d2d;
}

.page-detail-sale-sku .sale-sku ul li.current {
  border: .0625rem solid #ff8f00;
}

.page-detail-sale-sku .sale-sku ul li.current .pattern-name {
  color: #ee4d2d;
}

.page-detail-sale-sku .sale-sku ul img {
  width: 3.125rem;
}

.page-detail-sale-sku .submit-button {
  text-align: center;
  color: #000;
  cursor: pointer;
  background-color: #ffa41c;
  border: .03125rem solid #ff8f00;
  border-radius: 1.25rem;
  height: 2.8125rem;
  margin: .625rem auto;
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 2.8125rem;
  box-shadow: 0 .0625rem .15625rem #000;
}

.page-detail-sale-sku .submit-button:hover {
  opacity: .5;
}

.page-detail-sale-sku a {
  color: #000;
}

.page-detail-sale-sku .rich-text-editor a {
  color: #06c;
}

/* [project]/src/components/ProductDetail/index.less.css.css [app-client] (css) */
.product-detail-img-list {
  background-color: #fff;
}

.product-detail-img-list .img-fluid {
  text-align: center;
  width: 100%;
}

/* [project]/src/components/Title/index.less.css.css [app-client] (css) */
.title-wrap {
  background-color: #fff;
  width: 100%;
  padding-top: .625rem;
  padding-bottom: .625rem;
}

.title-wrap .title {
  vertical-align: middle;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  display: flex;
}

.title-wrap .title .left-icon {
  background-image: url("https://img.limeetpet.com/limeet/title.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  width: 1.75rem;
  height: .625rem;
  margin-top: .625rem;
  margin-right: 1.25rem;
  display: inline-block;
  overflow: hidden;
}

.title-wrap .title .right-icon {
  background-image: url("https://img.limeetpet.com/limeet/title.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  width: 1.75rem;
  height: .625rem;
  margin-top: .625rem;
  margin-left: 1.25rem;
  display: inline-block;
  overflow: hidden;
}

.title-wrap .title h3 {
  color: #fff;
  text-align: center;
  background-color: #f6912d;
  border-radius: .78125rem;
  padding: .3125rem 1.875rem;
  font-weight: 400;
  display: inline-block;
}

/* [project]/src/components/ProductAttr/index.less.css.css [app-client] (css) */
.product-attr {
  clear: both;
  background-color: #fff;
  min-height: 3.125rem;
  margin: .625rem auto;
  padding: .625rem;
}

.product-attr ul {
  clear: both;
  flex-flow: wrap;
  gap: .625rem;
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

.product-attr ul li {
  background-color: #fff;
  margin-left: 0;
  line-height: 1.125rem;
  display: block;
  overflow: hidden;
}

.product-attr ul .name {
  text-align: right;
  width: 6.875rem;
  height: 1.125rem;
  padding-right: .625rem;
  font-size: .875rem;
  font-weight: 400;
  display: inline-block;
}

.product-attr ul .value {
  height: 1.125rem;
  font-size: .875rem;
  font-weight: 300;
  display: inline-block;
}

/* [project]/src/components/ProductHighlight/index.less.css.css [app-client] (css) */
.product-highlight {
  clear: both;
  background-color: #fff;
  min-height: 3.125rem;
  margin: 0 auto;
  padding: .625rem;
}

.product-highlight p {
  font-size: .875rem;
  line-height: 1.5rem;
}

.product-highlight ul, .product-highlight li {
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  list-style-type: disc;
}

/* [project]/src/components/ProductDescribe/index.less.css.css [app-client] (css) */
.product-describe {
  clear: both;
  background-color: #fff;
  min-height: 3.125rem;
  margin: 0 auto;
  padding: .625rem;
  font-size: .875rem;
}

.product-describe p {
  line-height: 1.5rem;
}

/* [project]/src/app/detail/[lang]/[id]/[productId]/index.less.css.css [app-client] (css) */
.page {
  background-color: #efefef;
}

.tabbar-wrap {
  z-index: 9999;
  width: 100%;
  height: 3.125rem;
  position: fixed;
  bottom: 0;
  left: 0;
}

.home-page {
  color: #444;
  background: none;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.page-detail {
  background-color: #fff;
  padding-top: .625rem;
  padding-bottom: .625rem;
}

.page-detail .price-wrap {
  background-color: #fff5e2;
  padding: .3125rem .9375rem;
}

.page-detail .price-wrap .price {
  vertical-align: bottom;
  height: 1.9375rem;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.875rem;
  overflow: hidden;
}

.page-detail .price-wrap .price i.unit {
  color: #ee4d2d;
  vertical-align: bottom;
  height: 1.5625rem;
  padding-right: .3125rem;
  display: inline-block;
  overflow: hidden;
}

.page-detail .price-wrap .price span.value {
  color: #ee4d2d;
  vertical-align: bottom;
  font-size: 1.5rem;
}

.page-detail .price-wrap .price span.original-value {
  color: #ee4d2d;
  vertical-align: bottom;
  background-color: #fff5e2;
  margin-left: .625rem;
  padding: .0625rem .15625rem;
  font-size: 1rem;
}

.page-detail .price-wrap .price span.del-value {
  color: #999;
  vertical-align: bottom;
  vertical-align: sub;
  height: .75rem;
  margin-left: .625rem;
  line-height: .75rem;
  text-decoration: line-through;
  display: inline-block;
  overflow: hidden;
}

.page-detail .price-wrap .title {
  color: #000;
  width: 100%;
  height: 100%;
  padding-bottom: .3125rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.page-detail .submit-button {
  text-align: center;
  color: #000;
  cursor: pointer;
  background-color: #ffa41c;
  border: .03125rem solid #ff8f00;
  border-radius: 1.25rem;
  height: 2.8125rem;
  margin: .625rem auto;
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 2.8125rem;
  box-shadow: 0 .0625rem .15625rem #000;
}

.page-detail a {
  color: #000;
}

.page-detail .rich-text-editor a {
  color: #06c;
}

/*# sourceMappingURL=src_f90babd6._.css.map*/