/* [project]/src/components/BannerSwiperServer/index.less.css.css [app-client] (css) */
.banner-swiper {
  border-radius: 0;
  max-height: 26.0938rem;
  margin-top: .46875rem;
  position: relative;
  overflow: hidden;
}

.banner-swiper .swiper-container, .banner-swiper .swiper-wrapper {
  width: 100%;
  height: 13.125rem;
}

.banner-swiper .swiper-wrapper .adm-swiper-slide {
  width: 100%;
  height: 13.125rem;
  overflow: hidden;
}

.banner-swiper .swiper-wrapper .adm-swiper-indicator .adm-page-indicator-dot {
  width: 1.5625rem;
}

.banner-swiper .carousels {
  border: none;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.banner-swiper .carousels-inner {
  height: 100%;
  transition: transform .3s;
  display: flex;
}

.banner-swiper .carousels-item {
  flex-shrink: 0;
  width: 100%;
  position: relative;
}

.banner-swiper .carousels-item img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.banner-swiper .carousels-title {
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .7));
  padding: .46875rem;
  font-size: .5625rem;
  font-weight: 500;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.banner-swiper .thumbnails-title {
  color: #333;
  background-color: #fff;
  padding: .25rem;
  font-size: 1rem;
}

.banner-swiper .text-truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  overflow: hidden;
}

.banner-swiper .text-clamp-2 {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.banner-swiper .carousels-indicators {
  z-index: 10;
  justify-content: center;
  gap: .1875rem;
  display: flex;
  position: absolute;
  bottom: .46875rem;
  left: 0;
  right: 0;
}

.banner-swiper .carousels.has-title .carousels-indicators {
  bottom: 1.875rem;
}

.banner-swiper .indicator {
  cursor: pointer;
  background-color: rgba(200, 200, 200, .5);
  border-radius: 50%;
  width: .25rem;
  height: .25rem;
  transition: all .3s;
}

.banner-swiper .indicator.active {
  background-color: rgba(144, 144, 144, .5);
  border-radius: .125rem;
  width: .75rem;
}

.banner-swiper .carousels-control {
  color: #fff;
  cursor: pointer;
  opacity: 0;
  z-index: 10;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: rgba(0, 0, 0, .3);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  transition: opacity .3s, background-color .3s;
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.banner-swiper .carousels:hover .carousels-control {
  opacity: 1;
}

.banner-swiper .carousels-control:hover {
  background-color: rgba(0, 0, 0, .5);
}

.banner-swiper .control-prev {
  left: .46875rem;
}

.banner-swiper .control-next {
  right: .46875rem;
}

.banner-swiper .thumbnails-container {
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
  gap: .3125rem;
  margin-top: .46875rem;
  padding: .3125rem 0;
  display: flex;
  overflow-x: auto;
}

.banner-swiper .thumbnails-container::-webkit-scrollbar {
  height: .1875rem;
}

.banner-swiper .thumbnails-container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: .09375rem;
}

.banner-swiper .thumbnail {
  cursor: pointer;
  opacity: .7;
  background-color: #f5f5f5;
  border-radius: .125rem;
  flex-shrink: 0;
  width: 3.75rem;
  transition: all .3s;
  overflow: hidden;
}

.banner-swiper .thumbnail.active {
  opacity: 1;
  transform: scale(1.03);
  box-shadow: 0 .0625rem .25rem rgba(0, 0, 0, .2);
}

.banner-swiper .thumbnail-image {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 2.5rem;
  display: block;
}

/* [project]/src/components/Title/index.less.css.css [app-client] (css) */
.title-wrap {
  background-color: #fff;
  width: 100%;
  padding-top: .625rem;
  padding-bottom: .625rem;
}

.title-wrap .title {
  vertical-align: middle;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  display: flex;
}

.title-wrap .title .left-icon {
  background-image: url("https://img.limeetpet.com/limeet/title.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  width: 1.75rem;
  height: .625rem;
  margin-top: .625rem;
  margin-right: 1.25rem;
  display: inline-block;
  overflow: hidden;
}

.title-wrap .title .right-icon {
  background-image: url("https://img.limeetpet.com/limeet/title.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  width: 1.75rem;
  height: .625rem;
  margin-top: .625rem;
  margin-left: 1.25rem;
  display: inline-block;
  overflow: hidden;
}

.title-wrap .title h3 {
  color: #fff;
  text-align: center;
  background-color: #f6912d;
  border-radius: .78125rem;
  padding: .3125rem 1.875rem;
  font-weight: 400;
  display: inline-block;
}

/* [project]/src/components/CategoriesServer/index.less.css.css [app-client] (css) */
.categories-server {
  background-color: #fff;
  margin-top: .46875rem;
  margin-bottom: .46875rem;
  padding: .625rem .625rem .3125rem;
}

.categories-server .menu {
  clear: both;
  padding-top: 0;
}

.categories-server .menu .item {
  background-color: #fff5e2;
  margin: 0 0 .3125rem;
  padding: 0 0 0 .9375rem;
  line-height: 2.03125rem;
  overflow: hidden;
}

.categories-server .menu .item a {
  color: #333;
  display: block;
}

.categories-server .menu .item .text {
  vertical-align: middle;
  display: inline-block;
}

.categories-server .menu .item .arrow-tx-right {
  vertical-align: middle;
  float: right;
  background-image: url("https://img.limeetpet.com/limeet/arrow-right.png");
  background-repeat: no-repeat;
  background-size: 120%;
  width: .75rem;
  height: .75rem;
  margin-top: .625rem;
  margin-right: .625rem;
}

.categories-server .menu .item:hover {
  color: #fff;
  background-color: #f6912d;
}

.categories-server .menu .item:hover a:hover {
  color: #fff;
}

.categories-server .menu .item:hover .arrow-tx-right {
  background-image: url("https://img.limeetpet.com/limeet/arrow-right2.png");
}

.categories-server .menu .item.active {
  color: #fff;
  background-color: #f6912d;
}

.categories-server .menu .item.active .arrow-tx-right {
  background-image: url("https://img.limeetpet.com/limeet/arrow-right2.png");
}

.categories-server .describe {
  margin: 0 auto;
  padding: .625rem;
}

.categories-server .describe p {
  padding: .3125rem .625rem;
}

.categories-server .describe p img {
  width: 1.25rem;
  padding-right: .15625rem;
  display: inline-block;
}

.categories-server .describe a {
  color: #f6912d;
  padding-left: .625rem;
  display: inline-block;
}

/* [project]/src/components/CategoriesFooter/index.less.css.css [app-client] (css) */
.categories-footer {
  background-color: #fff;
  margin-top: .46875rem;
  margin-bottom: .46875rem;
  padding: .625rem .625rem .3125rem;
}

.categories-footer .menu {
  clear: both;
  padding-top: 0;
}

.categories-footer .menu .item {
  background-color: #fff5e2;
  margin: 0 0 .3125rem;
  padding: 0 0 0 .9375rem;
  line-height: 2.03125rem;
  overflow: hidden;
}

.categories-footer .menu .item a {
  color: #333;
  display: block;
}

.categories-footer .menu .item .text {
  vertical-align: middle;
  display: inline-block;
}

.categories-footer .menu .item .arrow-tx-right {
  vertical-align: middle;
  float: right;
  background-image: url("https://img.limeetpet.com/limeet/arrow-right.png");
  background-repeat: no-repeat;
  background-size: 120%;
  width: .75rem;
  height: .75rem;
  margin-top: .625rem;
  margin-right: .625rem;
}

.categories-footer .menu .item:hover {
  color: #fff;
  background-color: #f6912d;
}

.categories-footer .menu .item:hover a:hover {
  color: #fff;
}

.categories-footer .menu .item:hover .arrow-tx-right {
  background-image: url("https://img.limeetpet.com/limeet/arrow-right2.png");
}

.categories-footer .describe {
  margin: 0 auto;
  padding: .625rem;
}

.categories-footer .describe p {
  padding: .3125rem .625rem;
}

.categories-footer .describe p img {
  width: 1.25rem;
  padding-right: .15625rem;
  display: inline-block;
}

.categories-footer .describe a {
  color: #f6912d;
  padding-left: .625rem;
  display: inline-block;
}

/* [project]/src/components/Footer/index.less.css.css [app-client] (css) */
.footer {
  border-top: .46875rem solid #d2d2d2;
  margin: .46875rem auto;
  padding: 1.5625rem;
}

.footer span.wechat {
  text-align: center;
  width: 30%;
  display: inline-block;
}

.footer span.wechat img {
  width: 2.5rem;
  display: inline;
}

.footer .flex-column {
  margin: 0;
  padding: 0;
}

.footer .flex-column li {
  margin: 0;
  padding-top: .15625rem;
  padding-bottom: .15625rem;
  line-height: 1.5rem;
}

.footer span.youtube {
  text-align: center;
  width: 30%;
  display: inline-block;
}

.footer span.youtube img {
  width: 2.5rem;
  display: inline;
}

.footer span.facebook {
  text-align: center;
  width: 30%;
  display: inline-block;
}

.footer span.facebook img {
  width: 2.5rem;
  display: inline;
}

.footer h3.title {
  padding-top: .625rem;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.footer .list {
  margin: 0;
  padding: 0;
}

.footer .list a {
  color: #333;
  padding: .15625rem .15625rem .15625rem 0;
}

.footer .list a:hover {
  color: #f6912d !important;
  text-decoration: underline !important;
}

.footer .nav a {
  color: #333;
  padding: .15625rem .15625rem .15625rem 0;
}

.footer .nav a:hover {
  color: #f6912d !important;
  text-decoration: underline !important;
}

.footer li.wrap-box {
  padding-top: .625rem;
}

/* [project]/src/components/Icp/index.less.css.css [app-client] (css) */
.footer-icp {
  text-align: center;
  color: #333;
  margin-bottom: .3125rem;
  padding-bottom: .3125rem;
}

/* [project]/src/components/ListServer/index.less.css.css [app-client] (css) */
.list-wrap {
  width: 100%;
  margin: 0 auto;
}

.list-wrap .title-wrap {
  margin-bottom: .46875rem;
}

.list-wrap .row .item {
  background-color: #fff;
  border: .03125rem solid #fff;
  min-height: 17.5rem;
  margin-top: .46875rem;
  margin-bottom: .46875rem;
  overflow: hidden;
}

.list-wrap .row .item .img-box {
  min-height: 11.4375rem;
  padding: .3125rem;
  overflow: hidden;
}

.list-wrap .row .item .img-box img {
  overflow: hidden;
}

.list-wrap .row .item .title {
  color: #333;
  height: 3.4375rem;
  padding-top: .3125rem;
  padding-left: .46875rem;
  padding-right: .46875rem;
  text-decoration: none;
  overflow: hidden;
}

.list-wrap .row .item .title:hover {
  text-decoration: underline;
  color: #f6912d !important;
}

.list-wrap .row .item .price {
  vertical-align: bottom;
  height: 2.34375rem;
  padding: 0 .3125rem .3125rem;
  line-height: 2.34375rem;
  overflow: hidden;
}

.list-wrap .row .item .price i.unit {
  color: #ee4d2d;
  vertical-align: sub;
  height: .75rem;
  padding-right: .15625rem;
  font-size: .75rem;
  line-height: .75rem;
  display: inline-block;
  overflow: hidden;
}

.list-wrap .row .item .price span.value {
  color: #ee4d2d;
  vertical-align: bottom;
  font-size: 1.5rem;
}

.list-wrap .row .item .price span.original-value {
  color: #ee4d2d;
  vertical-align: bottom;
  background-color: #fff5e2;
  margin-left: .625rem;
  padding: .0625rem .3125rem .0625rem .15625rem;
}

.list-wrap .row .item .price span.del-value {
  color: #999;
  vertical-align: bottom;
  vertical-align: sub;
  height: .75rem;
  margin-left: .46875rem;
  line-height: .75rem;
  text-decoration: line-through;
  display: inline-block;
  overflow: hidden;
}

.list-wrap .item:hover {
  border: .03125rem solid #f6912d;
}

.list-wrap .more-wrap {
  clear: both;
  font-size: 1rem;
  font-weight: 12.5rem;
  color: #f6912d;
  text-align: center;
  height: 2.5rem;
  line-height: 1.5625rem;
  display: block;
}

.list-wrap .more-wrap a {
  color: #f6912d;
}

/* [project]/src/components/ChangeLanguage/index.less.css.css [app-client] (css) */
.locale {
  color: #333;
  text-align: center;
  border-radius: .3125rem;
  width: 6.875rem;
  height: 2.375rem;
  font-size: .4375rem;
  line-height: 1.25rem;
  position: absolute;
  top: .625rem;
  right: .625rem;
}

.locale .dropdown {
  background-color: rgba(255, 255, 255, .6);
  border-radius: .3125rem;
  width: 6.875rem;
}

.locale .dropdown .dropdown-toggle {
  color: #333;
  background: none;
  border: none;
  width: 100%;
}

.locale .dropdown-menu {
  opacity: .8;
  background: #d8d8d8;
  border: .03125rem solid #fff;
  min-width: 6.875rem;
}

.locale ul.lan-list {
  width: 6.875rem;
  margin: 0 auto;
  padding: 0;
}

/* [project]/src/app/home/[lang]/index.less.css.css [app-client] (css) */
.page {
  background-color: #efefef;
}

.tabbar-wrap {
  z-index: 9999;
  width: 100%;
  height: 3.125rem;
  position: fixed;
  bottom: 0;
  left: 0;
}

.home-page {
  color: #444;
  background: none;
  width: 100%;
  height: 100%;
  overflow: auto;
}

/*# sourceMappingURL=src_8f5718af._.css.map*/