/* [project]/src/components/BannerSwiperServer/index.less.css.css [app-client] (css) */
.banner-swiper {
  border-radius: 0;
  max-height: 26.0938rem;
  margin-top: .46875rem;
  position: relative;
  overflow: hidden;
}

.banner-swiper .swiper-container, .banner-swiper .swiper-wrapper {
  width: 100%;
  height: 13.125rem;
}

.banner-swiper .swiper-wrapper .adm-swiper-slide {
  width: 100%;
  height: 13.125rem;
  overflow: hidden;
}

.banner-swiper .swiper-wrapper .adm-swiper-indicator .adm-page-indicator-dot {
  width: 1.5625rem;
}

.banner-swiper .carousels {
  border: none;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.banner-swiper .carousels-inner {
  height: 100%;
  transition: transform .3s;
  display: flex;
}

.banner-swiper .carousels-item {
  flex-shrink: 0;
  width: 100%;
  position: relative;
}

.banner-swiper .carousels-item img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.banner-swiper .carousels-title {
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .7));
  padding: .46875rem;
  font-size: .5625rem;
  font-weight: 500;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.banner-swiper .thumbnails-title {
  color: #333;
  background-color: #fff;
  padding: .25rem;
  font-size: 1rem;
}

.banner-swiper .text-truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  overflow: hidden;
}

.banner-swiper .text-clamp-2 {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.banner-swiper .carousels-indicators {
  z-index: 10;
  justify-content: center;
  gap: .1875rem;
  display: flex;
  position: absolute;
  bottom: .46875rem;
  left: 0;
  right: 0;
}

.banner-swiper .carousels.has-title .carousels-indicators {
  bottom: 1.875rem;
}

.banner-swiper .indicator {
  cursor: pointer;
  background-color: rgba(200, 200, 200, .5);
  border-radius: 50%;
  width: .25rem;
  height: .25rem;
  transition: all .3s;
}

.banner-swiper .indicator.active {
  background-color: rgba(144, 144, 144, .5);
  border-radius: .125rem;
  width: .75rem;
}

.banner-swiper .carousels-control {
  color: #fff;
  cursor: pointer;
  opacity: 0;
  z-index: 10;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: rgba(0, 0, 0, .3);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  transition: opacity .3s, background-color .3s;
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.banner-swiper .carousels:hover .carousels-control {
  opacity: 1;
}

.banner-swiper .carousels-control:hover {
  background-color: rgba(0, 0, 0, .5);
}

.banner-swiper .control-prev {
  left: .46875rem;
}

.banner-swiper .control-next {
  right: .46875rem;
}

.banner-swiper .thumbnails-container {
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
  gap: .3125rem;
  margin-top: .46875rem;
  padding: .3125rem 0;
  display: flex;
  overflow-x: auto;
}

.banner-swiper .thumbnails-container::-webkit-scrollbar {
  height: .1875rem;
}

.banner-swiper .thumbnails-container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: .09375rem;
}

.banner-swiper .thumbnail {
  cursor: pointer;
  opacity: .7;
  background-color: #f5f5f5;
  border-radius: .125rem;
  flex-shrink: 0;
  width: 3.75rem;
  transition: all .3s;
  overflow: hidden;
}

.banner-swiper .thumbnail.active {
  opacity: 1;
  transform: scale(1.03);
  box-shadow: 0 .0625rem .25rem rgba(0, 0, 0, .2);
}

.banner-swiper .thumbnail-image {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 2.5rem;
  display: block;
}

/*# sourceMappingURL=src_components_BannerSwiperServer_index_less_css_css_bad6b30c._.single.css.map*/