/* [project]/src/components/BannerSwiperServer/index.less.css.css [app-client] (css) */
.banner-swiper {
  border-radius: 0;
  max-height: 26.0938rem;
  margin-top: .46875rem;
  position: relative;
  overflow: hidden;
}

.banner-swiper .carousel {
  overflow: hidden;
}

.banner-swiper .carousel-inner {
  min-height: 9.375rem;
  max-height: 26.25rem;
}

.banner-swiper .carousel-item {
  max-height: 26.25rem;
}

.banner-swiper .swiper-container, .banner-swiper .swiper-wrapper {
  width: 100%;
  height: 13.125rem;
}

.banner-swiper .swiper-wrapper .adm-swiper-slide {
  width: 100%;
  height: 13.125rem;
  overflow: hidden;
}

.banner-swiper .swiper-wrapper .adm-swiper-indicator .adm-page-indicator-dot {
  width: 1.5625rem;
}

.banner-swiper .carousel {
  width: 100%;
  max-width: 18.75rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.banner-swiper .carousel-wrapper {
  height: 9.375rem;
  transition: transform .5s;
  display: flex;
}

.banner-swiper .carousel-slide {
  color: #fff;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  height: 100%;
  font-size: .75rem;
  display: flex;
}

.banner-swiper .carousel-indicators {
  justify-content: center;
  gap: .25rem;
  display: flex;
  position: absolute;
  bottom: .46875rem;
  left: 0;
  right: 0;
}

.banner-swiper .indicator {
  cursor: pointer;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 50%;
  width: .3125rem;
  height: .3125rem;
  transition: background-color .3s;
}

.banner-swiper .indicator.active {
  background-color: #fff;
}

.banner-swiper .carousel-control {
  color: #fff;
  cursor: pointer;
  background-color: rgba(0, 0, 0, .3);
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  font-size: .625rem;
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.banner-swiper .prev {
  left: .3125rem;
}

.banner-swiper .next {
  right: .3125rem;
}

/* [project]/src/components/CategoriesSideServer/index.less.css.css [app-client] (css) */
.categories-side-server {
  background-color: #fff;
  margin-top: .46875rem;
}

.categories-side-server ul.menu {
  clear: both;
  margin: 0;
  padding: 0;
}

.categories-side-server ul.menu .item {
  background-color: #fff5e2;
  min-height: 2.03125rem;
  margin: 0 0 .3125rem;
  padding: 0 0 0 .9375rem;
  line-height: 2.03125rem;
  overflow: hidden;
}

.categories-side-server ul.menu .item a {
  color: #333;
  display: block;
}

.categories-side-server ul.menu .item .text {
  vertical-align: middle;
  display: inline;
}

.categories-side-server ul.menu .item .arrow-tx-right {
  vertical-align: middle;
  float: right;
  background-image: url("https://img.limeetpet.com/limeet/arrow-right.png");
  background-repeat: no-repeat;
  background-size: 120%;
  width: .75rem;
  height: .75rem;
  margin-top: .625rem;
  margin-right: .625rem;
}

.categories-side-server ul.menu .item:hover {
  color: #fff;
  background-color: #f6912d;
  border: none;
}

.categories-side-server ul.menu .item:hover a, .categories-side-server ul.menu .item:hover a:hover {
  color: #fff;
}

.categories-side-server ul.menu .item:hover .arrow-tx-right {
  background-image: url("https://img.limeetpet.com/limeet/arrow-right2.png");
}

.categories-side-server ul.menu .item.active {
  color: #fff;
  background-color: #f6912d;
  border: none;
}

.categories-side-server ul.menu .item.active a, .categories-side-server ul.menu .item.active a:hover {
  color: #fff;
}

.categories-side-server ul.menu .item.active .arrow-tx-right {
  background-image: url("https://img.limeetpet.com/limeet/arrow-right2.png");
}

.categories-side-server a {
  color: #333;
}

.categories-side-server a.active {
  background-color: #fff5e2;
}

.categories-side-server a:hover {
  color: #fff;
  background-color: #f6912d;
}

/* [project]/src/components/ListServer/index.less.css.css [app-client] (css) */
.list-wrap {
  width: 100%;
  margin: 0 auto;
}

.list-wrap .title-wrap {
  margin-bottom: .46875rem;
}

.list-wrap .row .item {
  background-color: #fff;
  border: .03125rem solid #fff;
  min-height: 17.5rem;
  margin-top: .46875rem;
  margin-bottom: .46875rem;
  overflow: hidden;
}

.list-wrap .row .item .img-box {
  min-height: 11.4375rem;
  padding: .3125rem;
  overflow: hidden;
}

.list-wrap .row .item .img-box img {
  overflow: hidden;
}

.list-wrap .row .item .title {
  color: #333;
  height: 3.4375rem;
  padding-top: .3125rem;
  padding-left: .46875rem;
  padding-right: .46875rem;
  text-decoration: none;
  overflow: hidden;
}

.list-wrap .row .item .title:hover {
  text-decoration: underline;
  color: #f6912d !important;
}

.list-wrap .row .item .price {
  vertical-align: bottom;
  height: 2.34375rem;
  padding: 0 .3125rem .3125rem;
  line-height: 2.34375rem;
  overflow: hidden;
}

.list-wrap .row .item .price i.unit {
  color: #ee4d2d;
  vertical-align: sub;
  height: .75rem;
  padding-right: .15625rem;
  font-size: .75rem;
  line-height: .75rem;
  display: inline-block;
  overflow: hidden;
}

.list-wrap .row .item .price span.value {
  color: #ee4d2d;
  vertical-align: bottom;
  font-size: 1.5rem;
}

.list-wrap .row .item .price span.original-value {
  color: #ee4d2d;
  vertical-align: bottom;
  background-color: #fff5e2;
  margin-left: .625rem;
  padding: .0625rem .3125rem .0625rem .15625rem;
}

.list-wrap .row .item .price span.del-value {
  color: #999;
  vertical-align: bottom;
  vertical-align: sub;
  height: .75rem;
  margin-left: .46875rem;
  line-height: .75rem;
  text-decoration: line-through;
  display: inline-block;
  overflow: hidden;
}

.list-wrap .item:hover {
  border: .03125rem solid #f6912d;
}

.list-wrap .more-wrap {
  clear: both;
  font-size: 1rem;
  font-weight: 12.5rem;
  color: #f6912d;
  text-align: center;
  height: 2.5rem;
  line-height: 1.5625rem;
  display: block;
}

.list-wrap .more-wrap a {
  color: #f6912d;
}

/* [project]/src/components/Title/index.less.css.css [app-client] (css) */
.title-wrap {
  background-color: #fff;
  width: 100%;
  padding-top: .625rem;
  padding-bottom: .625rem;
}

.title-wrap .title {
  vertical-align: middle;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  display: flex;
}

.title-wrap .title .left-icon {
  background-image: url("https://img.limeetpet.com/limeet/title.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  width: 1.75rem;
  height: .625rem;
  margin-top: .625rem;
  margin-right: 1.25rem;
  display: inline-block;
  overflow: hidden;
}

.title-wrap .title .right-icon {
  background-image: url("https://img.limeetpet.com/limeet/title.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  width: 1.75rem;
  height: .625rem;
  margin-top: .625rem;
  margin-left: 1.25rem;
  display: inline-block;
  overflow: hidden;
}

.title-wrap .title h3 {
  color: #fff;
  text-align: center;
  background-color: #f6912d;
  border-radius: .78125rem;
  padding: .3125rem 1.875rem;
  font-weight: 400;
  display: inline-block;
}

/* [project]/src/components/ChangeLanguage/index.less.css.css [app-client] (css) */
.locale {
  color: #333;
  text-align: center;
  border-radius: .3125rem;
  width: 6.875rem;
  height: 2.375rem;
  font-size: .4375rem;
  line-height: 1.25rem;
  position: absolute;
  top: .625rem;
  right: .625rem;
}

.locale .dropdown {
  background-color: rgba(255, 255, 255, .6);
  border-radius: .3125rem;
  width: 6.875rem;
}

.locale .dropdown .dropdown-toggle {
  color: #333;
  background: none;
  border: none;
  width: 100%;
}

.locale .dropdown-menu {
  opacity: .8;
  background: #d8d8d8;
  border: .03125rem solid #fff;
  min-width: 6.875rem;
}

.locale ul.lan-list {
  width: 6.875rem;
  margin: 0 auto;
  padding: 0;
}

/* [project]/src/components/HeaderServer/index.less.css.css [app-client] (css) */
.header-warp-server {
  z-index: 9;
  background-image: url("https://img.limeetpet.com/limeet/banner2tobg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto auto .46875rem;
  position: relative;
}

.header-warp-server .bg-body-tertiary {
  background: none !important;
}

.header-warp-server .mask {
  z-index: 11;
  opacity: .5;
  background-color: #d8d8d8;
  height: 12.2813rem;
  position: absolute;
  top: 0;
  left: 0;
}

.header-warp-server .arrow-left {
  z-index: 15;
  cursor: pointer;
  background-image: url("https://img.limeetpet.com/limeet/limeethouseaorrw-left.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  width: 1.78125rem;
  height: 1.78125rem;
  position: absolute;
  top: .625rem;
  left: .625rem;
}

.header-warp-server .main {
  z-index: 13;
  display: flex;
  position: absolute;
  top: 4.375rem;
  left: 0;
}

.header-warp-server .main .des {
  color: #000;
  height: 3.125rem;
  padding-top: .46875rem;
  padding-left: .3125rem;
}

.header-warp-server .main .des a {
  color: #333;
}

.header-warp-server .main .des h1 {
  text-shadow: 0 .03125rem .0625rem rgba(51, 51, 51, .9);
  height: 1.25rem;
  font-size: 1.1875rem;
  font-weight: 450;
  line-height: 1.25rem;
}

.header-warp-server .main .des h2 {
  text-shadow: 0 .03125rem .0625rem rgba(51, 51, 51, .9);
  color: #000;
  font-size: .875rem;
  font-weight: 300;
  line-height: .75rem;
}

.header-warp-server .main .des h2 img {
  width: 2.1875rem;
  padding-right: .3125rem;
  display: inline-block;
}

.header-warp-server .main .des p {
  text-shadow: 0 .03125rem .03125rem rgba(51, 51, 51, .9);
  color: #333;
  font-size: .8125rem;
  font-weight: 300;
  line-height: .75rem;
}

.header-warp-server .main .des img {
  width: 1.125rem;
  padding-right: .3125rem;
  display: inline-block;
}

.header-warp-server .main .logo {
  width: 6.25rem;
  height: 6.25rem;
  margin-left: .625rem;
  padding: .15625rem;
}

.header-warp-server .main .logo img {
  width: 6.25rem;
  height: 6.25rem;
}

.header-warp-server .main:hover {
  opacity: .9;
}

.header-warp-server .header {
  width: 100%;
  height: 10.9688rem;
}

.header-warp-server .nav-sub {
  z-index: 99;
  width: 100%;
  font-weight: 500;
  position: relative;
}

.header-warp-server .nav-sub .mask-sub {
  opacity: .7;
  background-color: #d8d8d8;
  width: 100%;
  height: 3.5625rem;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.header-warp-server .nav-sub ul {
  height: 3.5625rem;
  margin: 0;
  padding: 0;
  display: flex;
}

.header-warp-server .nav-sub ul li {
  text-align: center;
  cursor: pointer;
  border-bottom: .0625rem solid #d8d8d8;
  height: 3.5625rem;
  font-size: .5rem;
  line-height: 3.5625rem;
  position: relative;
}

.header-warp-server .nav-sub ul li i.triangle {
  border-bottom: .3125rem solid #666;
  border-left: .3125rem solid rgba(0, 0, 0, 0);
  border-right: .3125rem solid rgba(0, 0, 0, 0);
  width: 0;
  height: 0;
  margin-bottom: .15625rem;
  transition: all .3s;
  display: inline-block;
  overflow: hidden;
}

.header-warp-server .nav-sub ul li.active {
  border-bottom: .0625rem solid #f6912d;
}

.header-warp-server .nav-sub ul li.active i.triangle {
  border-bottom-color: #f6912d;
}

.header-warp-server .nav-sub ul li:hover .dropdown-wrap {
  display: block;
}

.header-warp-server .nav-sub ul li.active a {
  color: #f6912d;
  font-weight: bold;
}

.header-warp-server .nav-sub ul .dropdown-wrap {
  opacity: .9;
  z-index: 109;
  background: #fff;
  border: .03125rem solid #d8d8d8;
  border-radius: .3125rem;
  width: 15rem;
  padding: .3125rem;
  display: none;
  position: absolute;
  top: 3.125rem;
  left: .3125rem;
}

.header-warp-server .nav-sub ul .dropdown-wrap i.triangle-top {
  background-image: url("/triangle.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: .9375rem;
  height: .75rem;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: absolute;
  top: -.75rem;
  left: .9375rem;
  overflow: hidden;
}

.header-warp-server .nav-sub ul .dropdown-wrap span {
  margin: 0;
  padding: 0;
  display: block;
}

.header-warp-server .nav-sub ul .dropdown-wrap span.active {
  background-color: #fff5e2;
}

.header-warp-server .nav-sub ul .dropdown-wrap a.nav-link {
  cursor: pointer;
  letter-spacing: .0625rem;
  color: #333;
  text-align: left;
  height: 1.875rem;
  padding-left: .3125rem;
  padding-right: .3125rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.875rem;
}

.header-warp-server .nav-sub ul .dropdown-wrap a:hover {
  color: #f6912d;
}

.header-warp-server .nav-sub ul .dropdown-wrap a.active {
  color: #f6912d;
  font-weight: bold;
}

.header-warp-server .nav-sub ul .dropdown-wrap:hover {
  display: block;
}

.header-warp-server .navbar {
  padding: 0 0 0 .9375rem;
}

.header-warp-server .navbar a.nav-link {
  cursor: pointer;
  letter-spacing: .0625rem;
  color: #333;
  padding-left: .78125rem;
  padding-right: .78125rem;
  font-size: 1rem;
  font-weight: bold;
}

.header-warp-server .navbar a:hover {
  color: #f6912d;
}

.header-warp-server .navbar a:hover i.triangle {
  border-top: .3125rem solid #f6912d;
  border-bottom: 0;
}

.header-warp-server .navbar a.active {
  color: #f6912d;
  font-weight: bold;
}

.header-warp-server .navbar .dropdown-item:active {
  background-color: #d8d8d8;
}

/* [project]/src/app/index.less.css.css [app-client] (css) */
.page {
  background-color: #efefef;
}

.tabbar-wrap {
  z-index: 9999;
  width: 100%;
  height: 3.125rem;
  position: fixed;
  bottom: 0;
  left: 0;
}

.home-page {
  color: #444;
  background: none;
  width: 100%;
  height: 100%;
  overflow: auto;
}

/*# sourceMappingURL=src_dec07e90._.css.map*/