
.product-attr {
 margin: 20px auto;
 clear: both;
 min-height: 100px;
 background-color: #fff;
 padding-left: 20px;
 padding-right: 20px;
 padding-top: 20px;
 padding-bottom: 20px;
 ul {
  width: 710px;
  clear: both;
  li {
    margin-left: 10px;
    background-color: #fff;
    float: left;
    width: 340px;
    overflow: hidden;
    line-height: 32px;
  }
  .name {
    font-size: 24px;
    height: 32px;
    font-weight: 400;
    padding-right: 10px;
    text-align: right;
    width: 150px;
    display: inline-block;
  }
  .value {
    display: inline-block;
    font-size: 24px;
    height: 32px;
    font-weight: 300;
  }
 }
}
